@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: night;
}



@theme {
   --color-bg: #0B1D2A;        
  --color-secondary-bg: #102A3A;           
  --color-surface: #1A3A4A;         
  
  --color-border: #2A4A5A;

  --color-text-primary: #E6EEF3;
  --color-text-secondary: #A7B8C4;

  --color-teal: #2FA4A9;
  --color-teal-hover: #258A8F;

  --color-gold: #C2A46D;
  --color-gold-hover: #A88E5C;

  --font-elegant: 'Great Vibes', cursive;

  --animate-infinite-scroll: infinite-scroll 20s linear infinite;
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


:root{
background-color: var(--color-bg);
color: var(--color-text-primary);
}