

body{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1000px;
    background-color: rgba(50, 50, 50, 0.95);;
    margin-top: 110vh;
}

/* ---- Header Section ---- */

header{
    position: absolute;
    top: 41px;
    left: 0px;
    width: 100%;
}

.image-container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.image-container .img{
    background-image: url(../imgs/yatch-img2.jpg);
    position: relative;
    width: 100vw;   
    height: 100vh;
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;
    isolation: isolate; /* allows items to be stacked> */
    z-index: 1;
}

.image-container .img::before{
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.565), rgba(0, 0, 0, 0));;
}

.img-title-container{
    position: absolute;
    color: white;
    bottom: 600px;
    font-size: 21px;
    z-index: 2;
}

.img-title-container h2{
    text-shadow: 2px 2px rgba(0, 0, 0, 0.525);
}

.img-phrase-container{
    position: absolute;
    bottom: 580px;
    color: rgba(250, 251, 252, 0.7);
    font-size: 16px;
    z-index: 2;
}

.img-phrase-container p{
   text-shadow: 2px 2px rgba(0, 0, 0, 0.304);
}

.img-button-container{
    position: absolute;
    bottom: 525px;
    z-index: 2;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.331);
}

.start-tour-button{
    padding: 15px 30px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    cursor: pointer;
    z-index: 2;
    transition: border 0.2s;
}




.start-tour-button:active{
    border: 2px solid rgba(65, 198, 255, 0.906);
}

/* ---- Welcome Message Section ---- */
.welcome{
    display: flex;

    
}

.welcome-message-container{  
    max-width: 800px;
    padding: 10px 10px;
    border-radius: 10px;
    color: white;
    margin:80px auto;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.welcome-message-container header{
    width: fit-content;
    padding-bottom: 3px;
    border-bottom: 2px solid white;
}

.welcome-message-container body{
    display: inline-block;
}