h1{
    margin: 20px 0px 20px 0px;
}

.boat-icon, .yacht-icon{
    width: 35px;
    height: 35px;
}


.short-tour-package{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 50px;
   
}

.short-tour-container{
    max-width: 800px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.448);
    padding: 10px;
    margin: auto;
}


.tour-title{
    font-size: 1.45rem;
    margin: 0;
    text-decoration: underline;
    text-underline-offset: 3px;
    color: #ffffff;
}

.tour-body{
    display: flex;
    flex-direction: row;
}

.tour-details,
.tour-img{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}

.tour-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    font-size: 1.3rem;
}

.tour-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.tour-img img{
    width:100%;
    height:100%;
    border-radius:5px;
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.207);
    margin: auto;
}

.tour-info p{margin: 0;}

.tour-info ul{
    padding: 5px;
    margin: 0;
    display: flex;
    flex-direction: column;
    
}
.tour-info li{
    color: rgb(174, 174, 174);
    line-height: 30px;
    font-size: 1.15rem;
}


.button-container{
    margin: 15px auto;
    display: flex;
    justify-content: center;
}

.button-container button{
    padding: 7px;
    width: 80%;
    color: white;
    background-color: transparent;
    border: 2px solid rgba(65, 198, 255, 0.906);
    font-size: 1.3rem;
    border-radius: 5px;
    transition: all 0.2s;
}

.button-container button:hover{
    border-color: rgba(255, 255, 255, 0.906);
}
    

@media screen and (max-width:1400px) {
    .short-tour-package{
    grid-template-columns: 1fr 1fr  ;
    }
    .tour-info li,
    .tour-details{
        font-size: 1.2rem;
    }



}
@media screen and (max-width:1100px) {
     .tour-info li,
    .tour-details{
        font-size: 1rem;
    }
}
    

@media screen and (max-width:1000px) {
    .short-tour-package{
    grid-template-columns: 1fr ;
}
    .short-tour-container{
        width: 80%;
        margin: auto;
    }

    .tour-info li,
    .tour-details{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 700px) {
    .short-tour-container{width: 100%;}
     .tour-info li,
    .tour-details{
        font-size: 1.15rem;
    }
}





















/* 


@media screen and (max-width: 500px) {
    h1{
        font-size: 25px;
    }

    .short-tour-package{
    grid-template-columns: 60%;
    row-gap: 20px;
    }

    .header-container h1{
    font-size: 20px;
    }
} */